/*****************************************
GENERAL STUFF
******************************************/

#wrapper {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f8f8f8;
    color: #777777;
}

img {
    max-width: 100%;
}

.md-subhead {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5;
    color: #777777;
    margin-bottom: 0.5em;
}

label {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1em;
    color: #777777 !important;
}

/*****************************************
HEADER and HEADINGS
******************************************/

/*a h1, a h2 {*/
    /*color: #fff;*/
    /*font-weight: bold;*/
    /*!*padding-top: 20px;*/
      /*margin: auto;*/
      /*text-align: center;*!*/
    /*text-decoration: none;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*width: 100%;*/
    /*top: 200px;*/
/*}*/

.h1, .h2 {
    color: #fff;
    font-weight: bold;
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    font-size: 1.75em;
}

#login-content {
    text-align: center;
    padding-top: 40px;
}

#form-date {
    padding-top: 30px;
}

h1, h2 {
    color: #151f31;
    text-transform: uppercase;
    padding: 5px 0;
    margin: 10px 0 0;
}

h1 {
    font-family: 'Poiret One', sans-serif;
    margin: 15px 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    margin: -5px 0 0;
}

h3 {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: #151f31;
    /*border-bottom: 2px solid #151f31;
    display: inline-block;*/
}

.md-headline {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    font-size: 1.75em;
    color: #151f31;
    margin-bottom: 0.5em;
}

/*****************************************
NAVIGATION and LINKS
******************************************/

a {
    color: #151f31;
}

nav {
    background-color: #131e31;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 3px 0px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a.selected, nav a:hover, nav a:focus {
    color: #b18e51;
}

nav a {
    color: #ceb17c;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 15px 10px;
    font-family: 'Rochester', sans-serif;
}

.hotel-link {
    font-family: 'Roboto', sans-serif;
    color: #151f31;
}

.hotel-link a, .supprimer {
    font-family: 'Roboto', sans-serif;
    color: #151f31;
}

/*****************************************
FOOTER
******************************************/

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.mes-icons {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/*****************************************
home only
******************************************/

div.md-on {
    background-color: #151f31;
    border-color: #777;
}

div.md-off, div.md-checked, div.md-on {
    border-color: #777 !important;
}

.selectFood {
    height: 288px;
    width: 180px;
    overflow-y: visible;
    max-height: none;
    max-width: none;
}

.selectFood md-select-menu._md {
    height: 288px;
    width: 180px;
    max-height: none;
    max-width: none;
    overflow-y: visible;
}

.selectFood md-content._md {
    height: 288px;
    width: 180px;
    max-height: none;
    max-width: none;
    overflow-y: visible;
}

.md-headline md-content {
    background-color: white;
}

.invitation-card {
    width: 300px;
}

.inner-card {
    padding-bottom: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.comming-to-wedding {
    margin-top: 0;
}

.add-person-card {
    box-shadow: none;
    color: #151f31;
    width: 300px;
    height: 280px;
    border: 2px dotted #151f31;
    background: none;
}

.add-person-card div {
    width: 296px;
    height: 276px;
    display: table;
    text-align: center;
}

.add-person-card div span.glyphicon {
    /*display: table-cell;*/
    vertical-align: middle;
    padding-top: 100px;
    font-size: 3em;
}

.asterisk::after {
    content: ' *';
    font-size: 13px;
    vertical-align: top;
}

.error {
    color: red;
    font-size: 1.1em;
}

#success-message {
    position: fixed;
    top: 10%;
    left: 10%;
}

#hero {
    background: url("../img/background_img.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    max-height: 400px;
    width: 100%;
    margin: 0;
}

.header-text {
    color: white;
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

#textTop {
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    width: 100%;
}

#textTop::before {
    background: url("../img/new-banner_top.png") no-repeat center center;
    background-size: cover;
    display: block;
    width: 563px;
    content: '';
    height: 160px;
    position: relative;
    top: 4%;
    margin-left: auto;
    margin-right: auto;
}

#textTop::after {
    background: url("../img/new-banner_bottom.png") no-repeat center center;
    background-size: cover;
    height: 160px;
    width: 563px;
    content: '';
    display: block;
    position: relative;
    bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.language-selector {
    position: absolute;
    right: 1%;
    top: 1%;
}