/*****************************************
GENERAL STUFF
******************************************/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

/*****************************************
HEADER HEADINGS
******************************************/

header {
  float: left;
  margin: 0 0  30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
  text-decoration:none;
}

/* blue header */
header {
  background-color: #fff;
}

/* main headings text*/
h1, h2 {
  color: #151f31;
  text-align: center;
      }

h1 {
  font-family: 'Poiret One', sans-serif;
  margin: 15px 0;
  font-size: 2.5em;
  font-weight: normal;
  line-height:0.8em;
      }

h2 {
  font-family: 'Poiret One', sans-serif;
  font-weight: normal;
  margin: -5px 0 0;
      }


/*****************************************
NAVIGATION
******************************************/

nav {
  background-color: #151f31;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

/* navigation links*/
nav a, nav a:visited {
  color: #7D5F1D;
  text-decoration: none;
      }

nav a.selected, nav a:hover {
 color: #b18e51;
}

nav a {
  color: #ceb17c;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 15px 10px;
  font-family: 'Rochester', sans-serif;
}

/*****************************************
COLOURS GENERAL
******************************************/

/* site body white*/
body {
  background-color: #fff;
  color: #999;
}

/* links colour*/
a {
  color: #151f31;
}

/*****************************************
FOOTER
******************************************/

/* footer*/
footer {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
      }

.mes-icons {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
/*****************************************
home only
******************************************/

#images {
  margin: 0;
  padding: 0;
  list-style: none;
      }

#images li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #ccc;
}

#images li a p {
  margin: 0;
  padding: 5%;
}
