/*****************************************
GENERAL STUFF
******************************************/

#wrapper {
    max-width: 920px;
    margin: 0 auto;
    padding: 0 5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #f8f8f8;
    color: #777777;
}

img {
    max-width: 100%;
}

.md-subhead {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5;
    color: #777777;
}


/*****************************************
HEADER and HEADINGS
******************************************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo {
    text-align: center;
    margin: 0;
    text-decoration: none;
}

/* blue header */
header {
    background-color: #fff;
}

/* main headings text*/
h1, h2 {
    color: #151f31;
    text-transform: uppercase;
}

h1 {
    font-family: 'Poiret One', sans-serif;
    margin: 15px 0;
    font-size: 2em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    margin: -5px 0 0;
}

h3 {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: #151f31;
    /*border-bottom: 2px solid #151f31;
    display: inline-block;*/
}

.md-headline {
    font-family: 'Poiret One', sans-serif;
    font-weight: normal;
    font-size: 1.75em;
    color: #151f31;
    margin-bottom: 0.5em;
}

/*****************************************
NAVIGATION and LINKS
******************************************/

a {
    color: #151f31;
}

nav {
    background-color: #151f31;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a.selected, nav a:hover, nav a:focus  {
    color: #b18e51;
}

nav a {
    color: #ceb17c;
    font-weight: lighter;
    font-size: 1.5em;
    padding: 15px 10px;
    font-family: 'Rochester', sans-serif;
}

.hotel-link {
  font-family: 'Roboto', sans-serif;
  color: ##151f31;
}

.hotel-link a, .supprimer {
  font-family: 'Roboto', sans-serif;
  color: #151f31;
}

/*****************************************
FOOTER
******************************************/

/* footer*/
footer {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.mes-icons {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/*****************************************
home only
******************************************/

#silhouettes {
    padding: 0;
    list-style: none;
    float: left;
    width: 45%;
    margin: 2.5%;
    color: #ccc;
}

.selectFood {
    height: 288px;
    width: 180px;
    overflow-y: visible;
    max-height: none;
    max-width: none;
}

.selectFood md-select-menu._md {
    height: 288px;
    width: 180px;
    max-height: none;
    max-width: none;
    overflow-y: visible;
}

.selectFood md-content._md {
    height: 288px;
    width: 180px;
    max-height: none;
    max-width: none;
    overflow-y: visible;
}

.md-headline md-content{
    background-color: white;
}

.invitation-card {
    width: 300px;
}

.inner-card {
    padding-bottom: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.comming-to-wedding {
    margin-top: 0;
}

.add-person-card {
    box-shadow: none;
    color: darkblue;
    width: 300px;
    height: 280px;
    border: 2px dotted darkblue;
    background: none;
}

.add-person-card div {
    width: 296px;
    height: 276px;
    display:table;
    text-align: center;
}

.add-person-card div span.glyphicon {
    display:table-cell;
    vertical-align:middle;
    font-size: 6em;
}
