<!--td>
    <input type="text" class="form-control" name="first_name" id="first_name" ng-model="form.first_name">
</td>
<td>
    <input type="text" class="form-control" name="last_name" id="last_name" ng-model="form.last_name">
</td>
<td>
    <md-radio-group ng-model="form.is_coming_to_wedding">
        <md-radio-button ng-value="true">Oui</md-radio-button>
        <md-radio-button ng-value="false">Non</md-radio-button>
    </md-radio-group>
</td>
<td>
    <div ng-if="form.is_coming_to_wedding">
        <md-select ng-model="form.dietetary_restriction" data-md-container-class="selectFood">
            <md-option ng-repeat="obj in food_options" ng-value="obj.value">{{ obj.label }}</md-option>
        </md-select>
    </div>
</td>
<td>
    <span ng-if="form.is_coming_to_wedding">
    <md-radio-group ng-model="form.is_coming_to_brunch">
        <md-radio-button ng-value="true">Oui</md-radio-button>
        <md-radio-button ng-value="false">Non</md-radio-button>
    </md-radio-group>
    </span>
</td>
<td style="text-align: center; vertical-align: middle;">
    <span ng-click="removeForm(index)" class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></span>
</td -->

<md-content layout-gt-sm="row" layout-padding>
    <md-input-container flex="20">
        <label>Prenom</label>
        <input ng-model="form.first_name">
    </md-input-container>

    <md-input-container flex="20">
        <label>Nom</label>
        <input ng-model="form.last_name">
    </md-input-container>

    <md-input-container flex="16" class="coming_to_wedding">
        <p style="margin-bottom: 20px;">
            <label>Vient au mariage?</label>
        </p>
        <md-radio-group ng-model="form.is_coming_to_wedding">
            <md-radio-button ng-value="true">Oui</md-radio-button>
            <md-radio-button ng-value="false">Non</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <md-input-container flex="20" class="dietetary_restriction" ng-if="form.is_coming_to_wedding">
        <label>Préférences pour le repas</label>
        <md-select ng-model="form.dietetary_restriction" data-md-container-class="selectFood">
            <md-option ng-repeat="obj in food_options" ng-value="obj.value">{{ obj.label }}</md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex="25" class="coming_to_brunch" ng-if="form.is_coming_to_wedding">
        <p style="margin-bottom: 20px;">
            <label>Vient au brunch le dimanche?</label>
        </p>
        <md-radio-group ng-model="form.is_coming_to_brunch">
            <md-radio-button ng-value="true">Oui</md-radio-button>
            <md-radio-button ng-value="false">Non</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <md-input-container flex="5" flex-fill flex-padding flex-margin ng-class="{'flex-offset-35': !form.is_coming_to_wedding}">
        <div style="text-align: center; vertical-align: middle;" flex-fillin>
            <span ng-click="removeForm(index)" class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></span>
        </div>
    </md-input-container>
</md-content>