<td>
    <input type="text" class="form-control" name="first_name" id="first_name" ng-model="form.first_name">
</td>
<td>
    <input type="text" class="form-control" name="last_name" id="last_name" ng-model="form.last_name">
</td>
<td>
    <md-radio-group ng-model="form.is_coming_to_wedding">
        <md-radio-button ng-value="true">Oui</md-radio-button>
        <md-radio-button ng-value="false">Non</md-radio-button>
    </md-radio-group>
</td>
<td>
    <div ng-if="form.is_coming_to_wedding">
        <md-select ng-model="form.dietetary_restriction" data-md-container-class="selectFood">
            <md-option ng-repeat="obj in food_options" ng-value="obj.value">{{ obj.label }}</md-option>
        </md-select>
    </div>
</td>
<td>
    <span ng-if="form.is_coming_to_wedding">
    <md-radio-group ng-model="form.is_coming_to_brunch">
        <md-radio-button ng-value="true">Oui</md-radio-button>
        <md-radio-button ng-value="false">Non</md-radio-button>
    </md-radio-group>
    </span>
</td>
<td>
    <span ng-click="removeForm(index)" class="glyphicon glyphicon-trash"></span>
</td>
