{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Sophie + Alexis</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Rochester|Poiret+One|Roboto:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
  <div id="hero">
    <div id="container">
        <a href="/" id="text-top">
            <h1>Mariage de Sophie & Alexis</h1>
            {% block weddingdate %}<h2>{{ settings.WEDDING_DATE|date:'d b Y' }}</h2>{% endblock %}
        </a>
    </div>
  </div>
    {% include 'nav-bar.html' %}
</header>
<div id="wrapper" class="container" ng-app="app">
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2016-2017 Sophie Buda et Alexis Durand</p>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="{% static 'js/form_app.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
