{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <h2>Réponses à vos questions:</h2><br>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Qu'est-ce que vous voulez comme cadeau?</span>
                    <span class="md-subhead">Il n'y a pas de liste de mariage... On aurait du mal à ramener des cadeaux à Londres!</br>  Si vous voulez contribuer à notre lune de miel, il y aura une boîte pour laisser une carte à la salle.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">C'est quoi le dress code?</span>
                    <span class="md-subhead">Tout le monde en superhéro!... </br> Plus sérieusement, il n'y a pas de dress code particulier.</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
        </br>
        <h2>D'autres questions? N'hésitez pas à nous contacter:</h2><br>
        <div layout="row">
            <md-card flex="50">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Alexis</span>
                        <span class="md-subhead"><span style="color: #999;" class="glyphicon glyphicon-envelope"></span> <a
                                href="mailto:alexis.durand28@gmail.com">alexis.durand28@gmail.com</a></span>
                        <span class="md-subhead"><span style="color: #999;" class="glyphicon glyphicon-earphone"></span> +44 (0)7 59 806 61 51</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card flex="50">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Sophie</span>
                        <span class="md-subhead"><span style="color: #999;" class="glyphicon glyphicon-envelope"></span> <a
                                href="mailto:sophie.buda123@gmail.com">sophie.buda123@gmail.com</a></span>
                        <span class="md-subhead"><span style="color: #999;" class="glyphicon glyphicon-earphone"></span> +44 (0)7 52 218 28 57</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $('document').ready(function () {
            $('#contact').toggleClass('selected');
        })
    </script>
{% endblock %}
