{% extends 'base.html' %}
{% load static i18n l10n %}
{% block content %}
<section>
    <h2>{% trans "Quelques hôtels proches du lieu de réception:" %}</h2><br>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Ibis Budget Sarrebourg" %}</span>
          <span class="md-subhead">{% blocktrans with time=10 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=15 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media"><img src="{% static 'img/ibis_budget_logo.jpg' %}" alt=""></div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.ibis.com/fr/hotel-A0Y2-ibis-budget-sarrebourg-buhl-opening-may-2016/index.shtml">{% trans "Site de l'Hôtel" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Hotel Notre-Dame de Bonne Fontaine" %}</span>
          <span class="md-subhead">{% blocktrans with time=10 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=30 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <span style="font-size: 5em; color: #999;" class="glyphicon glyphicon-bed"></span>
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.booking.com/hotel/fr/ha-tel-notre-dame-57370.fr.html">{% trans "L'Hôtel sur Booking.com" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Ibis Styles Sarrebourg" %}</span>
          <span class="md-subhead">{% blocktrans with time=15 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=15 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <img src="{% static 'img/ibis_styles_logo.jpg' %}" alt="">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.ibis.com/fr/hotel-9439-ibis-styles-sarrebourg/index.shtml">{% trans "Site de l'Hôtel" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Hameau des gîtes, Sarrebourg" %}</span>
          <span class="md-subhead">{% blocktrans with time=15 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=20 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <span style="font-size: 5em; color: #999;" class="glyphicon glyphicon-bed"></span>
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.revea-vacances.fr/fr/campagne/nos-destinations-campagne/grand-est/sarrebourg.html?emkfid=EMF-4069798000-k-gite%20sarrebourg-119993952040-b-s&gclid=CjwKEAiA1vjCBRDd-9q3w4OF6WUSJACWv_sVT76KNjULbOhrW1m5NTPzbK3pa98ZSKCMkS6uL1uWtRoCCHjw_wcB">
                {% trans "Site des gîtes" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Hôtel les Cigognes, Abreshviller" %}</span>
          <span class="md-subhead">{% blocktrans with time=20 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=10 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <img src="{% static 'img/cigogne_logo.png' %}" alt="">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.les-cigognes.eu/accueil.php">{% trans "Site de l'Hôtel" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{% trans "Center Parcs Les Trois-forêts" %}</span>
          <span class="md-subhead">{% blocktrans with time=30 %}À {{ time }} min en voiture de la salle.{% endblocktrans %}</span>
          <span class="md-subhead">{% blocktrans with time=10 %}À {{ time }} min de la Mairie et l'Église.{% endblocktrans %}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <img src="{% static 'img/center_parcs_logo.png' %}" alt="">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <div class="hotel-link">
            <a href="http://www.centerparcs.fr/fr-fr/france/fp_TF_vacances-domaine-les-trois-forets">{% trans "Site de Center Parcs" %}</a>
            <span class="glyphicon glyphicon-new-window"></span>
          </div>
        </md-button>
      </md-card-actions>
    </md-card>
    <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">AirBnB</span>
            <span class="md-subhead">{% trans "Location de maisons à des particuliers, dans des villages aux alentours de Mittelbronn." %}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"><img src="{% static 'img/airbnb_logo.jpg' %}" alt=""></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>
            <div class="hotel-link">
              <a href="https://www.airbnb.fr/s/Mittelbronn?guests=2&place_id=ChIJq-VmqBoZlEcREJ46mrlfCgSaBgtNaXR0ZWxicm9ubg&adults=2&ss_id=l64idodl&source=bb&page=1&s_tag=-fYNQgSQ&allow_override%5B%5D=">
                  {% trans "Hébergements sur AirBnb" %}
              </a>
              <span class="glyphicon glyphicon-new-window"></span>
            </div>
          </md-button>
        </md-card-actions>
    </md-card>
</section>
{% endblock %}

{% block js %}
<script type="application/javascript">
    $('document').ready(function () {
        $('#hebergement').toggleClass('selected');
    })
</script>
{% endblock %}
