{% extends 'base.html' %}
{% load static i18n l10n %}
{% block content %}
    <section>
        <div ng-cloak>
            <md-toolbar class="day-header">
                <h2 class="md-toolbar-tools day-header-text">
                    <span>{% trans "Samedi 27 Mai" %}</span>
                </h2>
            </md-toolbar>

            <md-content>
                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "14h40 : Rendez Vous" %}</h4>
                            <h3>{% trans "Devant la mairie de Lorquin" %}</h3>
                            <p>{% trans "Rendez vous sur le parking de la mairie de Lorquin (quelque places de parking disponible pour les personnes à mobilités reduites)" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "14h35 : Mariage Civil" %}</h4>
                            <h3>{% trans "Mairie de Lorquin" %}</h3>
                            <p>{% trans "Ceremonie de mariage civil (30min environ)" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "15h40 : Benediction Religieuse" %}</h4>
                            <h3>{% trans "Eglise de Lorquin (a quelque pas de la mairie)" %}</h3>
                            <p>{% trans "Sacrement religieux du mariage (45min environ)" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "16h15 : Sortie d'eglise et photos" %}</h4>
                            <h3>{% trans "Eglise de Lorquin" %}</h3>
                            <p>{% trans "Sortie de l'eglise, quelque photo, et remerciement pour les personnes ne participant pas au reste." %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "17h : Depart vers vin d'honneur" %}</h4>
                            <h3>{% trans "Lorquin -> Mittelbronn" %}</h3>
                            <p>{% trans "Formation du cortege, puis depart du cortege vers le lieu de reception." %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "18h : Vin d'honneur/Cocktail Aperitif" %}</h4>
                            <h3>{% trans "Mittelbronn" %}</h3>
                            <p>{% trans "Debut des festivité avec un aperitif/cocktail a la salle des fetes de mittelbronn." %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "20h+ : Entré en salle" %}</h4>
                            <h3>{% trans "Mittelbronn" %}</h3>
                            <p>{% trans "Entree dans la salle. Le temps que tout le monde trouve sa place" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "21h+ : Debut du repas" %}</h4>
                            <h3>{% trans "Mittelbronn" %}</h3>
                            <p>{% trans "" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "~00h : Ouverture du balle" %}</h4>
                            <h3>{% trans "Mittelbronn" %}</h3>
                            <p>{% trans "Premiere danse et debut de soirée." %}</p>
                        </div>
                    </md-list-item>
                </md-list>

            </md-content>
            <md-toolbar class="day-header">
                <h2 class="md-toolbar-tools day-header-text">
                    <span>{% trans "Dimanche 27 Mai" %}</span>
                </h2>
            </md-toolbar>

            <md-content>
                <md-list>
                    <md-list-item class="md-3-line">
                        <div class="md-list-item-text">
                            <h4>{% trans "11h00 : Brunch" %}</h4>
                            <h3>{% trans "Mittelbronn" %}</h3>
                            <p>{% trans "Buffet Froid, Viennoiserie, Café, Thé" %}</p>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
        <div ng-controller="FormsController" ng-if="forms">
            <form name="attendanceForm">
                <div class="card-container" layout-wrap layout="row">
                    <md-card ng-style="{'max-height': parent.form.is_coming_to_wedding ? '600px' : '280px'}"
                             class="invitation-card" wedding-form form="parent.form" remove-form="removeForm"
                             attendance-form="attendanceForm"
                             index="$index" ng-repeat="parent in forms track by $index">
                    </md-card>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="application/javascript">
        $('document').ready(function () {
            $('#home').toggleClass('selected');
        })
    </script>
    <script type="application/javascript">
        angular.module('app').value('formId', '{{ request.session.form_id }}');
    </script>
{% endblock %}
