{% extends 'base.html' %}
{% load static %}

{% block weddingdate %}
{% endblock %}
{% block content %}
<section>
    <h2 id="bienvenue">Bienvenue,</h2>
    <h3>Pour acceder au reste du site veuillez saisir la date du mariage</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {% if form and form.errors %}
        <div class="error">
            <ul>
                {% for error, message in form.errors.items %}
                <li>{{ error }}: {{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {{ form.wedding_date }}
        <button type="submit">Se connecter</button>
    </form>
</section>
{% endblock %}
