{% extends 'base.html' %}
{% load static i18n l10n %}

{% block nav_bar %}
{% endblock %}

{% block content %}
<section>
    <div id="login-content">
        <h2>{% trans "Pour acceder au site, merci de saisir la date du mariage:" %}</h2>
        <form method="POST" action="" id="form-date">
            {% csrf_token %}
            {% if form and form.errors %}
            <div class="error">
                <ul>
                    {% for error, message in form.errors.items %}
                    <li>{{ error }}: {{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {{ form.wedding_date }}
            <button type="submit">{% trans "Se connecter" %}</button>
        </form>
    </div>
</section>
{% endblock %}